@model mvc.Models.EmergingTechnologiesFeedback
@using mvc.Models
@using mvc.Models.Util
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container editor-wrapper">
    <h2>Edit</h2>

    <h4>EmergingTechnologiesFeedback</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" readonly />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" readonly />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Heading" class="control-label"></label>
                    <input asp-for="Heading" class="form-control" />
                    <span asp-validation-for="Heading" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmergingTechnologiesName" class="control-label"></label>
                    <select asp-for="EmergingTechnologiesName" class="form-control">

                        @foreach (string i in DataConstants.TechTypes)
                        {
                            if (i.Equals(Model.EmergingTechnologiesName))
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="EmergingTechnologiesName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <select asp-for="Rating" class="form-control">

                        @for (int i = 0; i <= 5; i++)
                        {
                            if (i == Model.Rating)
                            {
                                <option value="@i" selected="selected">@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }

                        }

                    </select>
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Feedback" class="control-label"></label>
                    <textarea asp-for="Feedback" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Feedback" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Agree" class="control-label"></label>
                    <input asp-for="Agree" class="form-control" />
                    <span asp-validation-for="Agree" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Disagree" class="control-label"></label>
                    <input asp-for="Disagree" class="form-control" />
                    <span asp-validation-for="Disagree" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/Home/Technologies">Back to emerging technologies</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>