@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<mvc.Models.EmergingTechnologiesFeedback>
@using mvc.Data;
@{
    ViewData["Title"] = "Technologies";
}


<div class="overview">
    <div class="desc-wrapper text-light">
        <h1>Industry 4.0</h1>
        <h2>Emerging Technologies</h2>
        @ViewData["Cookie"]
    </div>
</div>
<div class="introductions">
    <h3>
        There're six emerging technologies.
    </h3>
    <p>
        <ul>
            <li>
                Artificial Intelligence (AI)
            </li>
            <li>
                Internet of Things (IoT)
            </li>
            <li>
                Cognitive Services

            </li>
            <li>
                Cloud Computing
            </li>
            <li>
                Robotics
            </li>
            <li>
                Blockchains
            </li>
        </ul>
    </p>
</div>

<div id="tech-grid"></div>

<div class="tech-feadback container" id="feedback-wrapper">
    <div class="tech-feadback-tips">
        @if (!SignInManager.IsSignedIn(User))
        {
            <div>
                Please
                <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/Home/Technologies")">log in</a>
                or
                <a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Page("/Home/Technologies")">create an account</a>
            </div>
        }
        else
        {
            <button type="button" class="btn btn-new-callback"><a href="/EmergingTechnologiesFeedbacks/Create" class="text-white">Submit your feedback</a></button>
        }
    </div>

    <div class="feedback-list" id="feedback-list">
        @foreach (var item in Model)
        {
            <div class="feedback-item" id="item-@item.ID">
                <h3>@Html.DisplayFor(modelItem => item.Heading)</h3>
                <div>@@@Html.DisplayFor(modelItem => item.EmergingTechnologiesName) </div>
                <div class="rating-wrapper">
                    @for (int i = 0; i < item.Rating; i++)
                    {
                        <span class="star-on"></span>
                    }
                    @for (int i = item.Rating; i < 5; i++)
                    {
                        <span class="star-off"></span>
                    }

                </div>
                <div class="feedback-content">@item.Feedback</div>
                <div class="feedback-info">
                    Feedback by  <span class="feedback-user">@Html.DisplayFor(modelItem => item.Username)</span> on <span class="feedback-time">@item.Date</span>
                </div>
                <div class="feedback-buttons">
                    <div>


                        <button class="btn"><a href="/EmergingTechnologiesFeedbacks/Details/@item.ID" class="text-black-50">Detail</a></button>
                        <button class="btn btn-success"><a href="/EmergingTechnologiesFeedbacks/Agree/@item.ID" class="text-white">Agree (@item.Agree)</a></button>
                        <button class="btn btn-danger"><a href="/EmergingTechnologiesFeedbacks/Disagree/@item.ID" class="text-white">Disagree (@item.Disagree)</a></button>
                    </div>
                    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserName(User).Equals("manager@example.com"))
                    {

                        <div>
                            <button class="btn manager-btn"><a href="/EmergingTechnologiesFeedbacks/Edit/@item.ID" class="text-black-50">Edit</a></button>
                            <button class="btn manager-btn"><a href="/EmergingTechnologiesFeedbacks/Delete/@item.ID" class="text-black-50">Delete</a></button>
                        </div>
                    }

                </div>
            </div>
        }

    </div>

</div>